@import url('https://fonts.googleapis.com/css?family=Lexend');
@import url('https://fonts.googleapis.com/css?family=Paytone+One');

/* base styles */
* {
  margin: 0;
  font-family: "Lexend";
}

.alternate_font {
  font-family: "Paytone One";
  color: #cb4036;
}

.col-50 {
  width: 50%;
}

.contain {
  display: flex;
}

.one {
  width: 45%;
}

.two {
  margin-left: 5%;
  width: 50%
}

.navbar {
  display: flex;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #35acf1;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
}
.navbar a:hover {
  color: #3548f1;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}


/* forms */
.forms {
  max-width: 600px;
}
.forms label {
  margin-top: 10px;
  text-align: left;
  display: block;
}
.forms h2 {
  font-size: 20px;
  color: #3835f1;
  margin-bottom: 30px;
}
.forms input, .forms textarea, .forms select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  background-color: #ebebeb;
}

.forms input{
  border-radius: 40px;
}

.forms textarea{
  border-radius: 20px;
}


.inputerror {
  color: #f1356d;
  text-align: left;
  margin-bottom: 20px;
}

.HomeLogo{
  max-width: 400px;
}

.signup {
  font-weight: bold;
}

.signup-link{
  color: #cb4036;
}

.signup-header{
  color: #cb4036;
  font-family: "Paytone One";
  font-size: 50px;
}

.signup-page{
  background-image: linear-gradient(to left, rgba(255,255,255,0) 10%,
              rgba(255,255,255,1)), url("resources/signup-bg.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  padding-top: 5%;
  padding-left: 10%;
  color: #cb4036;
}

.login-page{
  background-image: linear-gradient(to left, rgba(255,255,255,0) 5%,
              rgba(255,255,255,1)), url("resources/login-bg.png");
  height: 100vh;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  padding-top: 10%;
  padding-left: 10%;
  color: #cb4036;
}

.form-page{
  background-image: linear-gradient(to left, rgba(255,255,255,0) 5%,
              rgba(255,255,255,1)), url("resources/login-bg.png");
  height: 100vh;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  padding-top: 5%;
  padding-left: 10%;
  color: #cb4036;
}

.recipe-preview {
  padding: 10px 16px;
  border-bottom: 1px solid #fafafa;
  width: 300px;
  height: 200px;
  background-color: #35acf1;
  background-size: cover;
  border-radius: 20px;
}

.recipe-preview-container {
  margin-top: 20px;
  margin-right: 20px ;
}

.recipe-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.recipe-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.recipe-preview a{
  text-decoration: none;
  
}

.recipelist-page {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
}

.recipelist {
  margin-top: 30px;
  display: flex;
  vertical-align: top;
  width: 100%;
  overflow-y: auto;
  max-height: 90vh;
}

.div-button {
  background-color: #cb4036;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  border: 0;
}

.div-button-alternate {
  background-color: #fff;
  color: #cb4036;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  border: 0;
}

.round-edge {
  border-radius: 20px;
}

.view-page {
  height: 100%;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
}

.view-info {
  vertical-align: sub;
}

.view-page-foreground{
  background-image: linear-gradient(to left, rgba(255,255,255,0) 30%,
              rgba(2, 2, 2, 0.747));
  background-position: right;
  background-size: cover;
}

.create-page{
  background-image: linear-gradient(to left, rgba(255,255,255,0) 5%,
              rgba(255,255,255,1)), url("resources/create-bg.png");
  background-position: right;
  background-size: cover;
  text-align: left;
  padding-top: 5%;
  padding-left: 10%;
  padding-bottom: 5%;
  color: #cb4036;
  overflow: auto;
  max-height: 90vh;
}

.edit-page {
  text-align: left;
  padding-top: 5%;
  padding-left: 10%;
  padding-bottom: 5%;
  color: #cb4036;
  overflow: auto;
  max-height: 90vh;
}


.edit-page-foreground{
  background-image: linear-gradient(to left, rgba(255,255,255,0) 5%,
              rgba(255,255,255,1));
  background-position: right;
  background-size: cover;
}

.edit-page-background{
  background-position: right;
  background-size: cover;
}

.ingredients-wrapper {
  width: 30%;
}

.procedure-wrapper {
  margin-left: 5%;
  width: 65%;
}

.details-info {
  color: #FFC327;
}

.setbackground {
  height: 400px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.details-admin {
  width: 100%;
}

.right-align {
  float: right;
}

.inactive-button {
  border: 0;
  background-color: rgb(243, 243, 243);
}

.namelabel {
  background-color:#FFC327;
  width: 5px;
  height: 25px;
  border-radius: 10px;
  margin-right: 5px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
}

.popup-content {
  text-align: left;
}

.invi-button {
  border: 0;
  background-color: #00000000;
}

.navbarcustom {
  padding-left: 1% !important;
  padding-right: 1% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 100% !important;
  max-width: 100%;
  background-color: #cb4036;
}