@import url('https://fonts.googleapis.com/css?family=Lexend');
@import url('https://fonts.googleapis.com/css?family=Paytone+One');

/* base styles */
* {
  margin: 0;
  font-family: "Lexend";
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #35acf1;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #3548f1;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}


/* forms */
.forms {
  max-width: 400px;
}
.forms label {
  text-align: left;
  display: block;
}
.forms h2 {
  font-size: 20px;
  color: #3835f1;
  margin-bottom: 30px;
}
.forms input, .forms textarea, .forms select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border-radius: 40px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.forms button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.inputerror {
  color: #f1356d;
  text-align: left;
  margin-bottom: 20px;
}

.HomeLogo{
  max-width: 400px;
}

.signup {
  font-weight: bold;
}

.signup-link{
  color: #cb4036;
}

.signup-header{
  color: #cb4036;
  font-family: "Paytone One";
  font-size: 50px;
}

.signup-page{
  background-image: linear-gradient(to left, rgba(255,255,255,0) 10%,
              rgba(255,255,255,1)), url("resources/signup-bg.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  padding-top: 5%;
  padding-left: 10%;
  color: #cb4036;
}

.login-page{
  background-image: linear-gradient(to left, rgba(255,255,255,0) 5%,
              rgba(255,255,255,1)), url("resources/login-bg.png");
  height: 100vh;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  padding-top: 10%;
  padding-left: 10%;
  color: #cb4036;
}